<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="card col-sm-8 mx-auto">
                <div class="card-content">
                    <form>
                    <div class="card-header">New Order</div>
                    <div class="card-body">
                        <input type="checkbox" (click)="addToList('key')">
                        <table class="table">
                            <thead>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Availability</th>
                            </thead>
                            <tbody id="myDiv">
                                <tr *ngFor="let key of keys; let i=index">
                                    <td>{{key}}</td>
                                    <td>{{order[key][0]}}</td>
                                    <td><input type="checkbox" (click)="addToList(key)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success" (click)="acceptOrReject('accept')">Accept</button>
                        <button class="btn btn-danger" (click)="acceptOrReject('reject')">Reject</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>