<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>

<div class="col-md-20">
  <div class="card card-container text-center">
    <div [id]="dynamic_id"></div>
    <!-- white-space: nowrap; -->
    <p-dropdown styleClass="customClass" [options]="finalVendors" [(ngModel)]="selectedVendor"
      placeholder="Select Vendor" optionLabel="name" [showClear]="true" [filter]="true"
      (ngModelChange)="onChangeVendor($event)"></p-dropdown>
    <br />
    <br />
    <div *ngIf="display">
      <span class="d-block">
        <qr-code [value]="qrValue" size="200"></qr-code>
      </span>
      <span>
        <a [href]="href" [download]="fileName" (click)="downloadQrCode()">Download QRCode</a>
      </span>
    </div>
  </div>
</div>